@keyframes pulsate {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.6;
  }

  100% {
    opacity: 0;
    transform: scale(1.2);
  }
}

.about {
  background-color: #0a2850;
  color: #ffffff;
  font-family: "Inter", Arial, "Noto Serif", "Times New Roman";
  padding: 100px 80px 173px;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.about__title {
  margin: 0 0;
  max-width: 251px;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.about__content {
  max-width: 660px;
  margin: 19px 0 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about__paragraph {
  margin: 0 0;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
}

.about__circle {
  background-color: #2f80ed;
  width: 426px;
  height: 426px;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
  top: -152px;
  left: -129px;
}

.about__circle_animation_blurred {
  animation: pulsate 1.3s ease-in-out 0s infinite;
}
