.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  width: 105px;
  height: 39px;
  position: relative;
  left: -50px;
}

.nav__links {
  display: flex;
  gap: 20px;
  list-style-type: none;
  margin: 0 0;
  padding: 0 0;
}
.nav__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-decoration-line: none;
  color: #000000;
}

.nav__link:hover {
  color: #2f80ed;
  transition: 0.3s;
}
